<h3><%= @testcase.testcase_id %> Details</h3>
<p>Test Case ID: <%= @testcase.testcase_id %></p>
<p>Test Description:<%=  @testcase.testdescription %> </p>
<p>Serial No: <%= @testcase.serial %></p>
